<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
            <button class="form-wrapper cover-form form-button ml-subscribe" onclick="ml_account('webforms', '1982288',
            'e7b7x1',
            'show')">
                Subscribe and grow
            </button>
        {{/unless}}
    </div>

    <button class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button>
</div>